#blogheader {
	height: 40vh;
	color: #fff;
	background-image: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(59, 149, 237, 1) 0%,
		rgba(7, 91, 173, 1) 90%
	);
	display: flex;
	justify-content: center;
	align-items: center;
}

.blog-card-img .blog {
	max-width: 100%;
}

.blog-img {
    text-align: center;
}

.blog-main p {
	font-size: 20px;
}