@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}
body {
    height: 200vh;
    font-family: 'Ubuntu', sans-serif !important;
    overflow-x: hidden;
}

.navbar {
    /* padding: .7rem 3rem; */
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
    font-size: 1.2rem;
    transition: background-color 2s ease;
    
}


.navbar-brand {
    margin-left: 1rem;
}

  .navbar.solid .navbar-brand {
    color: #fff !important;
  }

  .navbar.solid .navbar-nav > li > a {
    color: #fff;
  }

.navbar-nav li{
    padding-right: 2rem;
}
.navbar-nav .nav-link {
    color: #fff;
    padding-top: .8rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: #e6e6e6;
}

.custom-toggler-icon {
    color: #fff; 
    font-size: 1.6rem;
}

.navbar-toggler .custom-toggler-icon{
    border: none;
    outline: none;
}

button:focus, a:focus a.btn:focus{
    outline: none;
    -webkit-appearance: none;
    box-shadow: none;
    transition: all .6s ease;
}

button,a,a.btn {
    transition: all .6s ease;
}

.navbar.solid {
    background: rgba(0, 0, 0, .7)!important;
    transition: background-color 1s ease;
}
.navbar.solid-toggle {
    background: rgba(0, 0, 0, .7)!important;
    transition: background-color 1s ease;
}

.wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    background: #429FFD;
    color: #fff;
    position: relative;

}

.wrapper h1{
    font-size: 3rem;
    text-shadow: .1rem .1rem .8rem #333;
    padding-bottom: 1rem;
}

.arrow-btn {
    position: absolute;
    top: 90vh;
    left: 50vw;
}
.arrow-btn i {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.801);
}

.arrow-btn i:hover {
    color: #fff;
}

.arrow {
    animation: bounce 2s infinite;
}


.wave {
     z-index: 2;
     margin-bottom: -100px;
}
.title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2rem;
    color: #429FFD;
}


#tech-stack {
   font-size: 120px;
   margin-bottom: 50px;
   color: #ddd;
}


.stack:hover {
    color:#27A744;
}


ul.filters {
    display: block;
    width: 100%;
    margin: 0;
    padding: 30px 0;
    border-radius: 10px;
}

ul.filters > li {
    list-style: none;
    display: inline-block;
    
}

ul.filters > li > a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 3px;
}

ul.filters > li > a:hover {
    background-color: #429FFD;
    color: #fff;
}

ul.filters > li.active > a {
    color: #fff;
    background: #429FFD;
}

.card {
    position: relative;
    margin-bottom: 20px;
    color: #333;
    border-radius: 0;
    border: 1px solid #429FFD;
    background-color: #fff;
    box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.075);
    
}

.card-head {
    position: relative;
    overflow: hidden;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.card-hover{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    padding: 50px;
    text-align: center;
    transition: ease-in-out 0.2s;
}

.view a i{
   margin: 10px;
   color: #fff;
}
.view a i:hover{

   color: #27A744;
}


footer {
    margin-top: 50px;
    height: 400px;
    color: #fff;
    
}
.footer-inner {
    width: 100%;
}
.foot-wrapper{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    background: url(/img/footerwave.svg) no-repeat center center/cover;
}

.totop{
    position: absolute;
    top: 0;
    left:0;
    margin: 20px;
    font-size: 1.5rem;
    border: 1px solid #27A744;
    padding: 10px;
    background: #27A744;
    color: #fff;
    border-radius: 10px;
}

.socials {
    text-align: center;
    display: flex;
    font-size: 2rem;
    margin-top: 20vh;
}

.socials li{
    list-style: none;
    margin-left: 50px;
    margin-top: 0vh;
}

.socials li a {
    color: #fff;
}

.socials li a:hover{
    color: rgba(255, 255, 255, 0.863)
}


.overview {
    display: flex;
    flex-direction: column;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	padding: 0 70px;
}


.carousel .carousel-item {
	color: #333;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	min-height: 290px;
}
.carousel .carousel-item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
    padding: 30px;
    max-width: 900px;
    margin: auto;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #27A744;
}
.carousel-control-prev, .carousel-control-next {
	width: 40px;
	height: 40px;
	margin-top: 100px;
	top: 0%;
	background: none;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 68px;
	line-height: 40px;
	position: absolute;
	display: inline-block;
	color:#429FFD;
	text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel-indicators {
	top: 350px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 12px;
	height: 12px;
	margin: 1px 3px;
	border-radius: 50%;
    border: none;
   
}
.carousel-indicators li {	
	background: #429FFD;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #429FFD;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
   

@media (max-width: 768px) {
	body{
        overflow-x: hidden;
    }
    
    .navbar .nav-item {
        font-size: 1.2rem;
        margin-left: 1.4rem;
        
    }

	/* .navbar {
		background-color: #fff;
		width: 100%;
		color: #333;
		font-size: 1.4rem;
		padding-right: 1.4rem;
    } */
    
    .showcase-slide {
        text-align: center;
    }
}